@font-face {
    font-family : 'Satoshi Medium';
    src         : url('../assets/Satoshi-Medium.otf');
}

*,
*:before,
*:after {
    box-sizing : content-box;
    margin     : 0 auto;
    padding    : 10px;
}

::placeholder {
    opacity : 1;
    color   : #B1B1B1;
    /* Firefox */
}

fieldset {
    position : relative;
    margin   : 0 auto;
    padding  : 0;
    resize   : none;


    border   : none;
}

h1 {
    font-family     : 'Helvetica Neue', sans-serif;
    font-size       : 45px;
    font-weight     : lighter;
    position        : relative;
    display         : flow;
    align-items     : center;
    justify-content : center;
    margin          : 0 auto;
    padding         : 10px;
    letter-spacing  : -1px;
    color           : white;


}

#description {
    font-family    : 'Helvetica Neue', sans-serif;
    font-size      : 15px;
    font-weight    : lighter;
    display        : inline;
    margin         : 0 auto;
    letter-spacing : -1px;
    opacity        : 0.2;
    color          : #111111;
    font-palette   : normal;
}

body {
    font-family           : 'Satoshi Medium', sans-serif;
    overflow              : auto;
    /* 	height: 100%; */
    height                : 10px;
    margin                : 0 auto;
    padding               : 0;;
    background            : url('../assets/bg.png') no-repeat center center fixed;
    background-color      : #1c4956;
    background-position   : top;
    background-size       : cover;
    background-blend-mode : soft-light;

}


.custom-pan {
    position         : relative;
    display          : flex;
    overflow-y       : hidden;
    align-items      : center;
    flex-direction   : row;
    justify-content  : space-between;
    width            : 500px;
    margin           : 0 auto;
    padding          : 10px;
    resize           : none;
    transition       : 0.3s;


    transform        : translate(0, 0);
    border-radius    : 10px;
    background-color : #ffffff;

    box-shadow       : 0 15px 30px rgba(0, 0, 0, 0.3);


}

.custom-pan #pan-title {
    position      : center;
    align-content : center;

    align-items   : center;
    transition    : 0.3s;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border-radius : 8px;
    background    : transparent;

}

.custom-pan #pan-checkbox {
    position      : center;
    display       : flex;

    transition    : 0.3s;
    border-radius : 8px;
    background    : transparent;
}


.custom-pan #pan-input {
    font-style       : oblique;
    align-items      : center;
    justify-content  : center;
    width            : 60%;
    margin-left      : 10px;
    padding          : 10px 10px 10px 5px;
    color            : #111111;
    border           : 2px solid #d1d3d4;
    border-radius    : 5px;
    background-color : white;

}

.custom-pan #pan-input:disabled {
    border-color : #EBEBE4;
    outline      : none;
    background   : #EBEBE4;

}

.custom-pan #pan-input:focus {
    transition   : 0.3s;
    border-color : #a1b6d4;
    outline      : none;

}

.custom-pan #pan-input:empty {
    transition   : 0.3s;
    border-color : #EBEBE4;
    outline      : none;
}

.custom-pan #pan-input:blank {
    transition   : 0.3s;
    border-color : #a1b6d4;
    outline      : none;

}

.custom-pan #pan-input:focus {
    transition   : 0.3s;
    border-color : #a1b6d4;
    outline      : none;

}

.custom-pan #pan-input:invalid {
    transition   : 0.3s;
    border-color : #e15a5a;
    outline      : none;
}

.custom-pan #pan-input:valid {
    transition   : 0.3s;
    border-color : #6ec75c;
    outline      : none;
}

fieldset .state {
    position         : relative;
    display          : flex;
    overflow-y       : hidden;
    align-items      : center;
    flex-direction   : row;
    justify-content  : space-between;
    width            : 500px;
    margin           : 10px auto;
    padding          : 10px;
    transition       : 0.3s;
    transform        : translate(0%, 0);

    border-radius    : 10px;
    background-color : #ffffff;
    box-shadow       : 0 15px 30px rgba(0, 0, 0, 0.3);

}

#state-title {
    position      : relative;
    align-content : center;

    align-items   : center;
    transition    : 0.3s;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border-radius : 8px;
    background    : transparent;
}

#state-checkbox {
    position      : center;
    transition    : 0.3s;

    border-radius : 8px;

    background    : transparent;
}

.state #state-select {
    align-items      : center;
    justify-content  : center;
    width            : 60%;
    margin-left      : 10px;
    padding          : 10px 10px 10px 5px;

    color            : #111111;
    border           : 2px solid #d1d3d4;
    border-radius    : 5px;
    background-color : white;
}

.state #state-select option {
    font-size   : 14px;
    font-weight : normal;
    font-style  : normal;
    line-height : 21px;
    color       : #111111;
    background  : #ffffff;

}

.state #state-select:disabled {
    transition   : 0.3s;
    border-color : #EBEBE4;
    outline      : none;
    background   : #EBEBE4;
}


.state #state-select option:disabled {
    color      : #B1B1B1;
    background : #B1B1B1;
}

.state #state-select:focus {
    transition   : 0.3s;
    border-color : #93a4b2;
    outline      : none;
}

.state #state-select:visited {
    transition   : 0.3s;
    border-color : #6ec75c;
    outline      : none;
}


#generate-button {
    font-family         : expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size           : 18px;
    line-height         : 1;
    position            : inherit;
    display             : flex;
    overflow            : hidden;
    align-content       : flex-end;
    align-items         : flex-end;
    align-self          : self-end;
    flex-direction      : column;
    justify-content     : center;
    box-sizing          : border-box;
    height              : 52px;
    margin              : 0 auto;
    padding             : 0 32px;
    cursor              : pointer;
    -webkit-user-select : none;
    user-select         : none;
    transition          : all 150ms;
    text-align          : right;


    vertical-align      : baseline;
    white-space         : nowrap;
    text-decoration     : none;
    color               : #ffffff;
    border-width        : 0;
    border-radius       : 8px;
    outline             : none;
    background-color    : #394974;
    box-shadow          : 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    touch-action        : manipulation;
}

#generate-button:hover {
    transition       : 0.1s;
    background-color : #3d3dbb;

    box-shadow       : rgba(0, 1, 0, .2) 0 2px 8px;
}


#generate-button:active:after {
    transition : 0.3s;
    color      : #ffffff;
    outline    : 0;
}

#generated-gst-history {
    width            : 800px;


    margin           : 0 auto;
    border-radius    : 10px;
    background-color : #ffffff;
    box-shadow       : 0 15px 30px rgba(0, 0, 0, 0.3);

}

#gst-title {
    position      : relative;
    align-content : center;

    align-items   : center;
    transition    : 0.3s;
    transform     : translate(100%, 0);
    white-space   : nowrap;
    text-overflow : ellipsis;
    border-radius : 8px;
    background    : transparent;

}

#generated-gst-history .gst {
    display          : flex;
    align-items      : center;
    justify-content  : left;


    cursor           : pointer;
    border-bottom    : 2px solid #d1d3d4;
    background-color : transparent;
}


table {
    overflow        : hidden;
    width           : 800px;
    border-collapse : collapse;
    box-shadow      : 0 0 20px rgba(0, 0, 0, 0.1);
}

table tbody {
    background-color : rgba(255, 255, 255, 0.3);
}

table tbody td {
    font-size : 18px;

}

td button {

    font-size           : 18px;
    line-height         : 1;
    position            : inherit;
    display             : flex;
    overflow            : hidden;
    align-content       : flex-end;
    align-items         : flex-end;
    align-self          : self-end;
    flex-direction      : column;
    justify-content     : center;
    box-sizing          : border-box;
    height              : 52px;

    padding             : 0 32px;
    cursor              : pointer;
    -webkit-user-select : text;
    user-select         : auto;
    transition          : all 150ms;
    text-align          : right;
    border              : none;
    border-bottom       : 1px solid #d1d3d4;
    background          : transparent;

}


table thead td {
    padding          : 15px;
    color            : #fff;
    background-color : rgba(255, 255, 255, 0.2);
}

table thead th {
    font-size        : 18px;
    font-weight      : 400;
    height           : 10px;
    padding          : 15px;
    text-align       : left;
    color            : #fff;
    background-color : #7996b4;
    background-image : linear-gradient(180deg, #394974 0%, #394974 74%);
}

table tbody tr {
    transition    : all 0.2s ease-in-out;

    border-bottom : 1px solid #d1d3d4;
}


#gst-number {
    font-family : 'Poppins', sans-serif;
    font-size   : 20px;
    font-weight : 400;
}


#generated-gst-history {
    position   : relative;
    width      : 800px;
    margin-top : 10px;
}

#gst-history-content {
    position        : relative;
    top             : 0;
    left            : 0;
    display         : inline;
    overflow        : hidden;
    align-content   : center;

    align-items     : center;
    align-self      : self-end;
    flex-direction  : column;
    justify-content : center;
    width           : 100%;
    height          : 100%;
    background      : #ffffff;
}

#gst-number {

    display          : flex;
    align-items      : center;
    justify-content  : space-between;


    padding          : 5px 10px;
    cursor           : pointer;
    background-color : transparent;
}

.completed {
    text-decoration : line-through;
}
